*
{
  box-sizing: border-box; /* Have element's width include border and padding: */
  text-rendering: optimizeLegibility;
}

body
{
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100em;
}

input[type=text]
{
  width: 100%;
}

video
{
  width: 100%;
}

#controls div
{
  display: flex;
}

#controls label
{
  margin-right: 1em;
}
